.bodyContainer {
  width: 100%;
}

.fistFlex {
  flex-grow: 1;
}

.secondFlex {
  flex-grow: 5;

  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .body {
    margin-top: 30px;
    flex-direction: column;
  }
}

.body {
  display: flex;
  background-color: inherit;
  align-items: center;
  font-family: "Dancing Script", cursive;
}
