.bodyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Button {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 2px solid black;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: black;
  text-align: center;
  transition: all 0.2s;
  background-color: white;
}
.Button:hover {
  color: #000000;
  background-color: lightgrey;
}
.Button:active {
  position: relative;
  top: 1px;
}
