.editor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  grid-area: header;
}

.bodyContainer {
  display: flex;
  background-color: lightcyan;
}

.meme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: mintcream;
  align-items: center;
}

.memeImage {
  color: red;
  height: 200px;
  max-width: 1000px;
  max-height: 1000px;
  background-repeat: no-repeat;

  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.textBottom {
  color: white;
}

.textTop {
  color: white;
}

.uploadBottom {
}

.download {
  color: navajowhite;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}
.options > * {
  margin-bottom: 5px;
  width: 80%;
}

.options {
  grid-area: options;
}

.resultImage {
  margin: 0 auto;
  color: blue;
}
