.meme {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: contain, cover;
}

.memeImage {
  color: red;
  height: 200px;
  max-width: 1000px;
  max-height: 1000px;
  background-repeat: no-repeat;

  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.textBottom {
  color: white;
}

.textTop {
  color: white;
}
