.component {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #cacaaa;
}
nav {
  background-color: wheat;
  width: 60%;
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
  margin: 0 30px;
}

.Link {
  background-color: wheat;
  margin: 10px 10px;
  padding: 20px 20px;
}

.imgContainer {
  display: grid;
  max-width: 60%;
  max-height: 60%;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 200px);
  grid-gap: 10px;
}

.images {
  justify-self: center;
  align-self: center;
  max-height: 200px;
  max-width: 200px;
}
