.editor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  grid-area: header;
}

.bodyContainer {
  display: flex;
  background-color: lightcyan;
}

.meme {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: contain, cover;
}

.memeImage {
  color: red;
  width: 200px;
  height: 100px;
  background-size: contain;
}

.textBottom {
  color: black;
}

.options {
  grid-area: options;
}

.resultImage {
  margin: 0 auto;
  color: blue;
}
